


{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col-md-8">
            <div class="card">

              <form role="form" method="post" action="{% url 'authinticator:password_change'%}">
                
                {% csrf_token %} 

                <div class="card-header">
                  <h5 class="title">Change your Password</h5>
                </div>

                <div class="card-body">
                    {% if form.errors %}
                        {% for field in form %}
                            {%if field.errors %}
                                <div class="row">
                                    <div class="col-md-6 px-md-1">
                                        <div class="btn btn-danger">
                                            {{field.errors|striptags}}
                                        </div>
                                    </div>
                                </div>
                            {%endif%}
                        {% endfor%}
                    {%endif%}
                    
                    <div class="row">

                      <div class="col-md-12 px-md-1">
                        <div class="form-group">
                          <label>Old Password</label>
                          <div >
                            {{ form.old_password }}

                          </div>
                        </div>
                    </div>

                    </div>
                    <div class="row">
                      <div class="col-md-6 px-md-1">
                        <div class="form-group">
                            <label>New Password</label>
                              {{ form.new_password1 }}
                              {{form.new_password1.help_text}}
                          </div>
                      </div>

                    </div>
                        
                    <div class="row">
                        <div class="col-md-6 px-md-1">
                            <div class="form-group">
                                <label>New Password Confirmation</label>
                                  {{ form.new_password2 }}
                            </div>
                        </div>
  
                         
                    </div>

                </div>
                <div class="card-footer">
                  <button type="submit" name="login" class="btn btn-fill btn-primary">Login</button>
                  
                </div>

              </form>

            </div>
          </div>
      </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

